body{
	background-color: #FFFCF5;
	font-family: 'Open Sans', sans-serif;
	height:100vh;
	width:100vw;
	color:#66625B;
}

.landing-page{
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.landing-page h1{
	font-size: 4.5rem;
	font-weight:700;
}

.btn-box{
	padding:1.2rem;
}
